@font-face {
    font-family: '1942-report';
    src: url(/fonts/1942_report/1942.ttf);
}

@font-face {
    font-family: 'myriadPro';
    src: url(/fonts/apple/myriad-pro-regular.OTF);
}

:root {
    --fontHeader: '1942-report';
    --fontText: 'myriadPro';
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    font-weight: bold;
}

body {
    background-image: url(/img/pexels-bg-saopaulo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    background-size: cover;
}

header {
    background-color: rgba(61, 20, 20, 0.61);
}

nav {
    display: inline-block;
    margin: 60px;
    font-family: var(--fontHeader);
    font-weight: bold;
}


h1 {
    height: 80vh;
    text-align: center;
    margin-top: 1000px;
    font-size: 23em;
    font-family: var(--fontHeader);
}

h2 {
    color: black;
    text-align: center;
    font-size: 25em;
    font-family: var(--fontHeader);
}

.home {
    background-color: black;
    color: white;
    font-size: 4em;
    border: 1px solid white;
    padding: 25px;
}

.home:hover {
    background-color: white;
    color: black;
    text-shadow: 2px 2px 1 black;
    border: 5px solid black;
    border-radius: 25px;
    transition: 1s;
}

.contact {
    color: white;
    font-size: 4em;
}

.contact:hover {
    background-color: white;
    color: black;
    text-shadow: 2px 2px 1 black;
    border: 5px solid black;
    border-radius: 25px;
    transition: 1s;
    padding: 25px;
}

.saiba_mais {
    color: white;
    font-size: 4em;
}

.saiba_mais:hover {
    background-color: white;
    color: black;
    text-shadow: 2px 2px 1 black;
    border: 5px solid black;
    border-radius: 25px;
    transition: 1s;
    padding: 25px;
}


header>h1 {
    font-family: var(--fontHeader);
    text-align: center;
    margin-top: 500px;
    font-size: 7em;
    color: black;
    width: 600px;
    height: 500px;
}

p {
    text-indent: 3em;
    text-align: justify;
    font-family: var(--fontText);
}

.regiao-administrativa-de-registro {
    background-image: url(/img/bg-prefeituraRegistro.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    text-shadow: 7px 5px 2px black;
    color: white;
    height: 1200px;
    font-size: 10em;
    text-align: center;
    padding-top: 250px;
    font-family: var(--fontHeader);
}

.text-registro {
    background-color: rgba(255, 255, 255, 0.801);
    color: black;
    text-align: justify;
    font-size: 4em;
    padding: 150px;
}

.regiao-metropolitana-da-baixada-santista {
    background-image: url(/img/bg-baixada-santista.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    text-shadow: 7px 5px 2px black;
    color: white;
    height: 1200px;
    font-size: 10em;
    text-align: center;
    padding-top: 250px;
    font-family: var(--fontHeader);
}

.text-baixadaSantista {
    background-color: rgba(255, 255, 255, 0.801);
    color: black;
    text-align: justify;
    font-size: 4em;
    padding: 150px;
}



footer>p {
    background-color: rgba(61, 20, 20, 0.61);
    font-family: var(--fontText);
    text-align: center;
    font-size: 3em;
    color: white;
    padding: 15px;
}